การอ่านข้อมูลจากไฟล์และเขียนลงไฟล์
===

# Configuring pandas

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 90)

# bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# view the first five lines of data/msft.csv
!head -n 5 data/msft.csv # mac or Linux
# type data/msft.csv # on windows, but shows the entire file

'head' is not recognized as an internal or external command,
operable program or batch file.

# CSV format

## อ่านข้อมูลจาก CSV เข้า DataFrame

In [3]:
# read in msft.csv into a DataFrame
msft = pd.read_csv("data/msft.csv")
msft[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

## การระบุ Column ที่เป็น Index เมื่ออ่านข้อมูลจาก CSV file

In [4]:
# use column 0 as the index
msft = pd.read_csv("data/msft.csv", index_col=0)
msft[:5]

            Open   High    Low  Close   Volume
Date
7/21/2014  83.46  83.53  81.81  81.93  2359300
7/18/2014  83.30  83.40  82.52  83.35  4020800
7/17/2014  84.35  84.63  83.33  83.63  1974000
7/16/2014  83.77  84.91  83.66  84.91  1755600
7/15/2014  84.30  84.38  83.20  83.58  1874700

## ตรวจสอบชนิดของข้อมูล

In [5]:
# examine the types of the columns in this DataFrame
msft.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

In [6]:
# specify that the Volume column should be a float64
msft = pd.read_csv("data/msft.csv", 
                   dtype = { 'Volume' : np.float64})
msft.dtypes

Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

## การระบุชื่อคอลัมน์

In [7]:
# specify a new set of names for the columns
# all lower case, remove space in Adj Close
# also, header=0 skips the header row
df = pd.read_csv("data/msft.csv", 
                 header=0,
                 names=['date', 'open', 'high', 'low', 
                        'close', 'volume'])
df[:5]

        date   open   high    low  close   volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

## การระบุ Column ที่ต้องการโหลดข้อมูล

In [8]:
# read in data only in the Date and Close columns
# and index by the Date column
df2 = pd.read_csv("data/msft.csv", 
                  usecols=['Date', 'Close'], 
                  index_col=['Date'])
df2[:5]

           Close
Date
7/21/2014  81.93
7/18/2014  83.35
7/17/2014  83.63
7/16/2014  84.91
7/15/2014  83.58

## Saving a DataFrame to a CSV

In [9]:
# save df2 to a new csv file
# also specify naming the index as date
df2.to_csv("data/msft_modified.csv", index_label='date')

In [10]:
# view the start of the file just saved
!head -n 5 data/msft_modified.csv
#type data/msft_modified.csv # windows

date,Close
7/21/2014,81.93
7/18/2014,83.35
7/17/2014,83.63
7/16/2014,84.91

## จัดการข้อมูลที่ถูกแบ่งคั่นในลักษณะต่าง ๆ

### sep = ' , '

In [11]:
# use read_table with sep=',' to read a CSV
df = pd.read_table("data/msft.csv", sep=',')
df[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

### sep = ' | '

In [12]:
# save as pipe delimited
df.to_csv("data/msft_piped.txt", sep='|')
# check that it worked
!head -n 5 data/msft_piped.txt # osx or Linux
# type data/psft_piped.txt # on windows

|Date|Open|High|Low|Close|Volume
0|7/21/2014|83.46|83.53|81.81|81.93|2359300
1|7/18/2014|83.3|83.4|82.52|83.35|4020800
2|7/17/2014|84.35|84.63|83.33|83.63|1974000
3|7/16/2014|83.77|84.91|83.66|84.91|1755600

## การเอาข้อมูลเฉพาะถึงแถวที่ต้องการ

In [13]:
# messy file
!head -n 6 data/msft2.csv # osx or Linux
# type data/msft2.csv # windows

### ระบุแถวที่ต้องการข้าม (Skip rows)

In [14]:
# read, but skip rows 0, 2 and 3
df = pd.read_csv("data/msft2.csv", skiprows=[0, 2, 3])
df[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [15]:
# another messy file, with the mess at the end
!cat data/msft_with_footer.csv # osx or Linux
# type data/msft_with_footer.csv # windows

### ระบุแถวที่ต้องการยกเว้นจากนับจาก Footer

In [16]:
# skip only two lines at the end
df = pd.read_csv("data/msft_with_footer.csv", 
                 skipfooter=2,
                 engine = 'python')
df

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800

### เลือกเฉพาะ 3 แถวแรก

In [17]:
# only process the first three rows
pd.read_csv("data/msft.csv", nrows=3)

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000

### ข้าม 100 บรรทัด แล้วดึงข้อมูลมา 5 บรรทัด

In [18]:
# skip 100 lines, then only process the next five
pd.read_csv("data/msft.csv", skiprows=100, nrows=5, 
            header=0,
            names=['date', 'open', 'high', 'low', 
                   'close', 'vol'])

        date   open   high    low  close      vol
0   3/3/2014  80.35  81.31  79.91  79.97  5004100
1  2/28/2014  82.40  83.42  82.17  83.42  2853200
2  2/27/2014  84.06  84.63  81.63  82.00  3676800
3  2/26/2014  82.92  84.03  82.43  83.81  2623600
4  2/25/2014  83.80  83.80  81.72  83.08  3579100

# Excel format

## การอ่านข้อมูลจาก Excel file

In [9]:
# read excel file
# only reads first sheet (msft in this case)
df = pd.read_excel("data/stocks.xlsx")
df[:5]

        Date   Open   High    Low  Close   Volume
0 2014-07-21  83.46  83.53  81.81  81.93  2359300
1 2014-07-18  83.30  83.40  82.52  83.35  4020800
2 2014-07-17  84.35  84.63  83.33  83.63  1974000
3 2014-07-16  83.77  84.91  83.66  84.91  1755600
4 2014-07-15  84.30  84.38  83.20  83.58  1874700

## ระบุ Sheet

In [10]:
# read from the aapl worksheet
aapl = pd.read_excel("data/stocks.xlsx", sheetname='aapl')
aapl[:5]

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\pandas\util\_decorators.py:188: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

        Date   Open   High    Low  Close    Volume
0 2014-07-21  94.99  95.00  93.72  93.94  38887700
1 2014-07-18  93.62  94.74  93.02  94.43  49898600
2 2014-07-17  95.03  95.28  92.57  93.09  57152000
3 2014-07-16  96.97  97.10  94.74  94.78  53396300
4 2014-07-15  96.80  96.85  95.03  95.32  45477900

## save to an .XLS file, in worksheet 'Sheet1'

In [21]:
# save to an .XLS file, in worksheet 'Sheet1'
df.to_excel("data/stocks2.xls")

In [22]:
# write making the worksheet name MSFT
df.to_excel("data/stocks_msft.xls", sheet_name='MSFT')

## write multiple sheets

In [23]:
# write multiple sheets
# requires use of the ExcelWriter class
from pandas import ExcelWriter
with ExcelWriter("data/all_stocks.xls") as writer:
    aapl.to_excel(writer, sheet_name='AAPL')
    df.to_excel(writer, sheet_name='MSFT')

In [24]:
# write to xlsx
df.to_excel("data/msft2.xlsx")

#  JSON files

## wirite the excel data to a JSON file

In [25]:
# wirite the excel data to a JSON file
df[:5].to_json("data/stocks.json")
!cat data/stocks.json # osx or Linux
#type data/stocks.json # windows

{"Date":{"0":1405900800000,"1":1405641600000,"2":1405555200000,"3":1405468800000,"4":1405382400000},"Open":{"0":83.46,"1":83.3,"2":84.35,"3":83.77,"4":84.3},"High":{"0":83.53,"1":83.4,"2":84.63,"3":84.91,"4":84.38},"Low":{"0":81.81,"1":82.52,"2":83.33,"3":83.66,"4":83.2},"Close":{"0":81.93,"1":83.35,"2":83.63,"3":84.91,"4":83.58},"Volume":{"0":2359300,"1":4020800,"2":1974000,"3":1755600,"4":1874700}}

## read data in from JSON

In [26]:
# read data in from JSON
df_from_json = pd.read_json("data/stocks.json")
df_from_json[:5]

   Close       Date   High    Low   Open   Volume
0  81.93 2014-07-21  83.53  81.81  83.46  2359300
1  83.35 2014-07-18  83.40  82.52  83.30  4020800
2  83.63 2014-07-17  84.63  83.33  84.35  1974000
3  84.91 2014-07-16  84.91  83.66  83.77  1755600
4  83.58 2014-07-15  84.38  83.20  84.30  1874700

## the URL to read

In [12]:
# the URL to read
url = "http://www.fdic.gov/bank/individual/failed/banklist.html"
# read it
banks = pd.read_html(url)

In [13]:
# examine a subset of the first table read
banks[0][0:5].iloc[:,0:2]

                                           Bank Name        City
0                               The Enloe State Bank      Cooper
1                Washington Federal Bank for Savings     Chicago
2    The Farmers and Merchants State Bank of Argonia     Argonia
3                                Fayette County Bank  Saint Elmo
4  Guaranty Bank, (d/b/a BestBank in Georgia & Mi...   Milwaukee

In [14]:
# read the stock data
df = pd.read_excel("data/stocks.xlsx")
# write the first two rows to HTML
df.head(2).to_html("data/stocks.html")
# check the first 28 lines of the output
!head -n 10 data/stocks.html # max or Linux
# type data/stocks.html # window, but prints the entire file

'head' is not recognized as an internal or external command,
operable program or batch file.

# Pickle format

In [38]:
import pickle 

example_dict = {'first': 23 , 'second': 45, 'third': 65, 'fourth': 'this will not be in the correct order' , 'fifth': 'dictionaries are not ordered by number', 'sixth': 897}
example_dict['seventh'] = 'I did not do the keys correctly'
example_dict['eight'] = 9080

print(example_dict.keys())

dict_keys(['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh', 'eight'])

In [39]:
print(example_dict.values())

dict_values([23, 45, 65, 'this will not be in the correct order', 'dictionaries are not ordered by number', 897, 'I did not do the keys correctly', 9080])

## put in the pickle file

In [41]:
# wb : write binary
pickle_out = open('dict.pickle', 'wb')

# read data from the dictionary and put in the pickle file
pickle.dump(example_dict, pickle_out)
pickle_out.close()

## read the pickle file

In [43]:
# rb : read bytes
pickle_in = open('dict.pickle', 'rb')
# read the pickle file and put information into the dictionary
example_dict = pickle.load(pickle_in)
example_dict

{'first': 23,
 'second': 45,
 'third': 65,
 'fourth': 'this will not be in the correct order',
 'fifth': 'dictionaries are not ordered by number',
 'sixth': 897,
 'seventh': 'I did not do the keys correctly',
 'eight': 9080}

# Text file

In [45]:
fid = open('data/exampleFile.txt','r')
readMe = fid.read()
print(readMe)

sample text to save
 New Line!sample text to save
New Line!
sample text to save
New Line!

In [47]:
readLines = open('data/exampleFile.txt','r').readlines()
print(readLines)

['sample text to save\n', ' New Line!sample text to save\n', 'New Line!\n', 'sample text to save\n', 'New Line!']

In [48]:
fid.close()
print(type(fid))

<class '_io.TextIOWrapper'>

# HDF5 format files

## seed for replication

In [18]:
# seed for replication

# pip install tables

np.random.seed(123456)
# create a DataFrame of dates and random numbers in three columns
df = pd.DataFrame(np.random.randn(8, 3), 
                  index=pd.date_range('1/1/2000', periods=8),
                  columns=['A', 'B', 'C'])

# create HDF5 store
store = pd.HDFStore('data/store.h5')
store['df'] = df # persisting happened here
store

<class 'pandas.io.pytables.HDFStore'>
File path: data/store.h5

## read in data from HDF5

In [19]:
# read in data from HDF5
store = pd.HDFStore("data/store.h5")
df = store['df']
df[:5]

                   A         B         C
2000-01-01  0.469112 -0.282863 -1.509059
2000-01-02 -1.135632  1.212112 -0.173215
2000-01-03  0.119209 -1.044236 -0.861849
2000-01-04 -2.104569 -0.494929  1.071804
2000-01-05  0.721555 -0.706771 -1.039575

## DataFrame to the HDF5

In [20]:
# this changes the DataFrame, but did not persist
df.iloc[0].A = 1 
# to persist the change, assign the DataFrame to the 
# HDF5 store object
store['df'] = df
# it is now persisted
# the following loads the store and 
# shows the first two rows, demonstrating
# the the persisting was done
pd.HDFStore("data/store.h5")['df'][:5] # it's now in there

                   A         B         C
2000-01-01  1.000000 -0.282863 -1.509059
2000-01-02 -1.135632  1.212112 -0.173215
2000-01-03  0.119209 -1.044236 -0.861849
2000-01-04 -2.104569 -0.494929  1.071804
2000-01-05  0.721555 -0.706771 -1.039575

# Accessing data on the web and in the cloud

In [33]:
# read csv directly from Yahoo! Finance from a URL
msft_hist = pd.read_csv(
    "http://www.google.com/finance/historical?" +
    "q=NASDAQ:MSFT&startdate=Apr+01%2C+2017&" +
    "enddate=Apr+30%2C+2017&output=csv")
msft_hist[:5]

        Date   Open   High    Low  Close    Volume
0  28-Apr-17  68.91  69.14  67.69  68.46  39548818
1  27-Apr-17  68.15  68.38  67.58  68.27  34970953
2  26-Apr-17  68.08  68.31  67.62  67.83  26190770
3  25-Apr-17  67.90  68.04  67.60  67.92  30242730
4  24-Apr-17  67.48  67.66  67.10  67.53  29769976

# Reading and writing from/to SQL databases

In [34]:
# reference SQLite
import sqlite3

# read in the stock data from CSV
msft = pd.read_csv("data/msft.csv")
msft["Symbol"]="MSFT"
aapl = pd.read_csv("data/aapl.csv")
aapl["Symbol"]="AAPL"

# create connection
connection = sqlite3.connect("data/stocks.sqlite")
# .to_sql() will create SQL to store the DataFrame
# in the specified table.  if_exists specifies
# what to do if the table already exists
msft.to_sql("STOCK_DATA", connection, if_exists="replace")
aapl.to_sql("STOCK_DATA", connection, if_exists="append")

# commit the SQL and close the connection
connection.commit()
connection.close()

In [35]:
# connect to the database file
connection = sqlite3.connect("data/stocks.sqlite")

# query all records in STOCK_DATA
# returns a DataFrame
# inde_col specifies which column to make the DataFrame index
stocks = pd.io.sql.read_sql("SELECT * FROM STOCK_DATA;", 
                             connection, index_col='index')

# close the connection
connection.close()

# report the head of the data retrieved
stocks[:5]

            Date   Open   High    Low  Close   Volume Symbol
index
0      7/21/2014  83.46  83.53  81.81  81.93  2359300   MSFT
1      7/18/2014  83.30  83.40  82.52  83.35  4020800   MSFT
2      7/17/2014  84.35  84.63  83.33  83.63  1974000   MSFT
3      7/16/2014  83.77  84.91  83.66  84.91  1755600   MSFT
4      7/15/2014  84.30  84.38  83.20  83.58  1874700   MSFT

In [36]:
# open the connection
connection = sqlite3.connect("data/stocks.sqlite")
# construct the query string
query = "SELECT * FROM STOCK_DATA WHERE " + \
        "Volume>29200100 AND Symbol='MSFT';"
# execute and close connection
items = pd.io.sql.read_sql(query, connection, index_col='index')
connection.close()
# report the query result
items

            Date   Open   High    Low  Close    Volume Symbol
index
1081   5/21/2010  42.22  42.35  40.99  42.00  33610800   MSFT
1097   4/29/2010  46.80  46.95  44.65  45.92  47076200   MSFT
1826   6/15/2007  89.80  92.10  89.55  92.04  30656400   MSFT
3455   3/16/2001  47.00  47.80  46.10  45.33  40806400   MSFT
3712   3/17/2000  49.50  50.00  48.29  50.00  50860500   MSFT

# Reading stock data from Yahoo Finance

In [21]:
# import data reader package
import pandas_datareader as pdr

In [22]:
# read from google and display the head of the data
start = datetime(2017, 4, 1)
end = datetime(2017, 4, 30)
goog = pdr.data.DataReader("MSFT", 'yahoo', start, end)
goog[:5]

                 High        Low       Open      Close    Volume  Adj Close
Date
2017-03-31  66.190002  65.449997  65.650002  65.860001  21040300  62.994560
2017-04-03  65.940002  65.190002  65.809998  65.550003  20400900  62.698048
2017-04-04  65.809998  65.279999  65.389999  65.730003  12997400  62.870228
2017-04-05  66.349998  65.440002  66.300003  65.559998  21448600  62.707611
2017-04-06  66.059998  65.480003  65.599998  65.730003  18103500  62.870228

# Retrieving options data from Yahoo Finance

In [23]:
# read options for MSFT
options = pdr.data.Options('MSFT', 'yahoo')

ImmediateDeprecationError:
Yahoo Options has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [40]:
options.expiry_dates

[datetime.date(2018, 1, 19)]

In [41]:
data = options.get_options_data(expiry=options.expiry_dates[0])
data.iloc[:5,:3]

                                             Last    Bid    Ask
Strike Expiry     Type Symbol
23.0   2018-01-19 call MSFT180119C00023000  45.34  46.90  48.80
                  put  MSFT180119P00023000   0.02   0.01   0.03
25.0   2018-01-19 call MSFT180119C00025000  43.25  45.05  46.20
                  put  MSFT180119P00025000   0.04   0.02   0.04
28.0   2018-01-19 call MSFT180119C00028000  41.55  41.85  42.90

In [42]:
# get all puts at strike price of $30 (first four columns only)
data.loc[(30, slice(None), 'put'), :].iloc[0:5, 0:3]

                                            Last   Bid   Ask
Strike Expiry     Type Symbol
30.0   2018-01-19 put  MSFT180119P00030000  0.06  0.04  0.07

In [43]:
# put options at strike of $80, between 2017-06-01 and 2017-06-30
data.loc[(30, slice('20180119','20180130'), 'put'), :] \
    .iloc[:, 0:3]

                                            Last   Bid   Ask
Strike Expiry     Type Symbol
30.0   2018-01-19 put  MSFT180119P00030000  0.06  0.04  0.07

# Reading economic data from the Federal Reserve Bank of St. Louis

In [25]:
# read GDP data from FRED
gdp = pdr.data.FredReader("GDP",
                     date(2012, 1, 1), 
                     date(2014, 1, 27))
gdp.read()[:5]

                  GDP
DATE
2012-01-01  16019.758
2012-04-01  16152.257
2012-07-01  16257.151
2012-10-01  16358.863
2013-01-01  16569.591

In [26]:
# Get Compensation of employees: Wages and salaries
pdr.data.FredReader("A576RC1A027NBEA",
                date(1929, 1, 1),
                date(2013, 1, 1)).read()[:5]

            A576RC1A027NBEA
DATE
1929-01-01             50.5
1930-01-01             46.2
1931-01-01             39.2
1932-01-01             30.5
1933-01-01             29.0

# Accessing Kenneth French data

In [27]:
# read from Kenneth French fama global factors data set
factors = pdr.data.FamaFrenchReader("Global_Factors").read()
factors[0][:5]

         Mkt-RF   SMB   HML   WML    RF
Date
2010-01   -3.70  2.70 -0.29 -2.23  0.00
2010-02    1.24  0.14  0.10  1.59  0.00
2010-03    6.30 -0.26  3.18  4.26  0.01
2010-04    0.44  3.78  0.77  1.60  0.01
2010-05   -9.52  0.17 -2.54 -0.56  0.01

# Reading from the World Bank

In [28]:
# get all indicators
from pandas_datareader import wb
all_indicators = pdr.wb.get_indicators()
all_indicators.iloc[:5,:2]

                     id                                     name
0    1.0.HCount.1.90usd          Poverty Headcount ($1.90 a day)
1     1.0.HCount.2.5usd          Poverty Headcount ($2.50 a day)
2  1.0.HCount.Mid10to50    Middle Class ($10-50 a day) Headcount
3       1.0.HCount.Ofcl  Official Moderate Poverty Rate-National
4   1.0.HCount.Poor4uds             Poverty Headcount ($4 a day)

In [29]:
# search of life expectancy indicators
le_indicators = pdr.wb.search("life expectancy")
# report first three rows, first two columns
le_indicators.iloc[:5,:2]

                      id                                               name
9955         SE.SCH.LIFE  School life expectancy, primary to tertiary, b...
9956      SE.SCH.LIFE.FE  School life expectancy, primary to tertiary, f...
9957      SE.SCH.LIFE.MA  School life expectancy, primary to tertiary, m...
11354  SP.DYN.LE00.FE.IN           Life expectancy at birth, female (years)
11355     SP.DYN.LE00.IN            Life expectancy at birth, total (years)

In [30]:
# get countries and show the 3 digit code and name
countries = pdr.wb.get_countries()
# show a subset of the country data
countries.loc[0:5,['name', 'capitalCity', 'iso2c']]

          name       capitalCity iso2c
0        Aruba        Oranjestad    AW
1  Afghanistan             Kabul    AF
2       Africa                      A9
3       Angola            Luanda    AO
4      Albania            Tirane    AL
5      Andorra  Andorra la Vella    AD

In [31]:
# get life expectancy at birth for all countries from 1980 to 2014
le_data_all = pdr.wb.download(indicator="SP.DYN.LE00.IN", 
                          start='1980', 
                          end='2014')
le_data_all

                    SP.DYN.LE00.IN
country       year
Canada        2014       81.800000
              2013       81.748780
              2012       81.648780
              2011       81.448780
              2010       81.246341
...                            ...
United States 1984       74.563415
              1983       74.463415
              1982       74.360976
              1981       74.009756
              1980       73.609756

[105 rows x 1 columns]

In [32]:
# only US, CAN, and MEX are returned by default
le_data_all.index.levels[0]

Index(['Canada', 'Mexico', 'United States'], dtype='object', name='country')

In [33]:
# retrieve life expectancy at birth for all countries 
# from 1980 to 2014
le_data_all = wb.download(indicator="SP.DYN.LE00.IN", 
                          country = countries['iso2c'],
                          start='1980', 
                          end='2012')
le_data_all

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\pandas_datareader\wb.py:134: UserWarning: Non-standard ISO country codes: 1A, 1W, 4E, 6D, 6F, 6L, 6N, 6X, 7E, 8S, A4, A5, A9, B1, B2, B3, B4, B6, B7, B8, C4, C5, C6, C7, C8, C9, D2, D3, D4, D5, D6, D7, D8, D9, EU, F1, F6, JG, L4, L5, L6, L7, M1, M2, N6, O6, OE, R6, S1, S2, S3, S4, T2, T3, T4, T5, T6, T7, V1, V2, V3, V4, XC, XD, XE, XF, XG, XH, XI, XJ, XK, XL, XM, XN, XO, XP, XQ, XT, XU, XY, Z4, Z7, ZB, ZF, ZG, ZJ, ZQ, ZT
  'country codes: %s' % tmp, UserWarning)

               SP.DYN.LE00.IN
country  year
Aruba    2012          75.299
         2011          75.158
         2010          75.016
         2009          74.872
         2008          74.725
...                       ...
Zimbabwe 1984          60.965
         1983          60.746
         1982          60.386
         1981          59.921
         1980          59.390

[8712 rows x 1 columns]

In [34]:
#le_data_all.pivot(index='country', columns='year')
le_data = le_data_all.reset_index().pivot(index='country', 
                                          columns='year')
# examine pivoted data
le_data.iloc[:5,0:3]

               SP.DYN.LE00.IN
year                     1980    1981    1982
country
Afghanistan            41.853  42.513  43.217
Albania                70.207  70.416  70.635
Algeria                58.196  59.521  60.823
American Samoa            NaN     NaN     NaN
Andorra                   NaN     NaN     NaN

In [35]:
# ask what is the name of country for each year
# with the least life expectancy
country_with_least_expectancy = le_data.idxmin(axis=0)
country_with_least_expectancy[:5]

                year
SP.DYN.LE00.IN  1980       Cambodia
                1981       Cambodia
                1982    Timor-Leste
                1983    South Sudan
                1984    South Sudan
dtype: object

In [36]:
# and what is the minimum life expectancy for each year
expectancy_for_least_country = le_data.min(axis=0)
expectancy_for_least_country[:5]

                year
SP.DYN.LE00.IN  1980    27.536
                1981    33.342
                1982    38.174
                1983    39.671
                1984    40.005
dtype: float64

In [37]:
# this merges the two frames together and gives us
# year, country and expectancy where there minimum exists
least = pd.DataFrame(
    data = {'Country': country_with_least_expectancy.values,
            'Expectancy': expectancy_for_least_country.values},
    index = country_with_least_expectancy.index.levels[1])
least[:5]

          Country  Expectancy
year
1980     Cambodia      27.536
1981     Cambodia      33.342
1982  Timor-Leste      38.174
1983  South Sudan      39.671
1984  South Sudan      40.005